* {
    padding: 0;
    margin: 0;
}
.section+.section{
    margin-top: -10px;;
}

#Home {
    background-image: url('bg/mainbg-B.jpg'); 
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: #fff;
}

#logo2 {
    width: 650px;
    height: 250px;
    justify-content: left;
    padding-left: 30px;
}

#Home p {
    margin-left: 30px;
}

#Home h1 {
    margin-left: 30px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    /* Align the logo and navigation links to the left */
    align-items: center;
    padding: 1rem;
}

#logo {
    height: 50px;
    margin-right: 1rem;
    margin-left: 0;
    /* Remove the left margin */
}

.join{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 20px;
    background-color: #000000;
    z-index: 1000;
}
nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 20px;
    background-color: #000000;
    z-index: 1000;
    border-bottom: 2px solid #0ef ; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    float: right;
    text-align: right;
    padding-right: 40px;
}

nav ul li {
    display: inline;
    margin-top: 10px ;
    margin-right: 1rem;
    margin-left: 1rem;
}

nav ul li a {
    color: #0ef;
    text-decoration: none;
}

nav li a:hover {
    color: grey;
}

.buttons{
    display: flex;
    justify-content: left;
    margin-top: 20px;
    padding-left: 120px;
    padding-top: 30px;
}

.button1 {
    background-image: url('R.jpeg');
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}

.button1:hover {
    background-color: #3e8e41;
}

.button2 {
    background-image: url('R.jpeg');
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

.button2:hover {
    background-color: #ba160a;
}
a{
    text-decoration: none;
}
#features{
    background-image: url('bg/features1.jpg');
    background-size: cover;
    background-position: center;
    
}
.features-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.features-right ul{
    font-size: x-large;
    font-style: italic;
    color: #ffffff;
    list-style-position: inside;
    padding-left: 0;
}
.features-right li{
    margin-bottom: 20px;
}
.right-title h2{
    color: #0ef;
    font-size: 80px;
    font-style: oblique;
    margin-bottom: 10px;
}
.right-title hr{
    border: none;
    width: 250px;
    height: 5px;
    background-color: #0ef;
    border-radius: 10px;
    margin-bottom: 20px;
}
.features-left img{
    width: 500px;
    height: 600px;
}

/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
} */

.footer-top {
    padding: var(--section-padding) 0;
    border-bottom: 1px solid var(--space-cadet);
  }
  
  .footer-brand,
  .footer-brand .logo {margin-left: 25px;margin-top: -30px; }
  .footer-text {
    color: var(--heliotrope-gray);
    line-height: 1.6;
    font-size: var(--fs-4);
  }
  
  .footer-list {
    align-items: center;
    padding: 30px; 
    margin-right: 50px;
    }
  
  .footer-list > li:not(:last-child) { margin-bottom: 20px; }
  
  .footer-link-title {
    font-size: var(--fs-2);
    font-weight: var(--fw-700);
    margin-bottom: 20px;
  }
  
  .footer-link {
    color: var(--heliotrope-gray);
    font-size: var(--fs-4);
    width: max-content
  }
  
  .footer-link:is(:hover, :focus) { color: var(--blue-ryb); }
  
  .social-title {
    background: var(--gradient);
    width: max-content;
    font-size: var(--fs-2);
    font-weight: var(--fw-700);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 20px;
  }
  
  .social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  
  .social-link {
    background: var(--space-cadet);
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    color: var(--white);
    font-size: 20px;
    border-radius: 50%;
  }
  
  .social-link:is(:hover, :focus) { background: var(--blue-ryb); }
  
  .copyright {
    color: var(--heliotrope-gray);
    font-size: var(--fs-4);
    text-align: center;
    line-height: 1.8;
    padding-block: 20px;
    color: azure;
    background-color: #000000;
  }
  
  .copyright a {
    color: var(--white);
    display: inline-block;
  }
  
  .copyright a:is(:hover, :focus) { color: var(--blue-ryb); }

.footer-link-title {
    --fs-2: 22px;
    margin-bottom: 30px;
  }

  .social-title {
    margin-left: auto;
    margin-bottom: 35px;
  }

  .social-link {
    width: 45px;
    height: 45px;
    font-size: 22px;
  }
  .footer-top .container {
    background-image: url("R.jpeg");
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .footer-brand {
    max-width: 500px;
    margin-bottom: 0;
  }

  .footer-list { margin-bottom: 0; }
